// Place all the styles related to the Expense controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-expenses {
    padding: 10px;
    background-color: white;
}

.all-expenses h1 {
    font-size: 1.4em;
    color: rgb(25, 94, 172);
}
.all-expenses p {
    font-size: 1.3em;
}
.all-expenses li {
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgb(226, 226, 226);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.all-expenses ul {
    font-size: 17px;
    text-align: center;
    width: 95%;
    margin: auto;
    padding: 0px;
}

.edit-expense-input {
    font-size: 1.2em
}

.year-and-salary-info  {
    font-size: .8em;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 1px 5px 1px rgba(197, 197, 197, 0.648);
}

.take-home-info {
    font-size: .8em;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 1px 5px 1px rgba(197, 197, 197, 0.648);
}

.leftover {
    background-color: rgb(252, 255, 248);
    border-radius: 5px;
    padding: 10px;
    color: green;
    font-weight: bold;
}

.expense-edit-button {
    min-width: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 7px;
    font-size: 1em;
    border-radius: 5px;
    color: white;
    background-color: rgb(125, 125, 125);
}
.expense-edit-button:hover {
    background-color: rgba(145, 145, 145, 0.939);
}

// new expense form

.custom-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1.2em;
}

.custom-form-group {
    margin-bottom: 10px;
}

.custom-category-dropdown {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-subject {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-submit-button {
    background-color: #004da0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-submit-button:hover {
    background-color: #0062cb;
}


// new budget form

.custom-budget-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 65%;
    margin: auto;
}

.custom-form-label {
    font-weight: bold;
}

.custom-category-dropdown {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.custom-subject {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.custom-submit-button {
    background-color: #0046d1dd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
