// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: image-url('budget.jpg') center/cover no-repeat;
    height: 80vh; /* Adjust to center vertically within the viewport */
}

.session-form {
    background-color: #ffffff; /* Add your preferred form background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for a nice touch */
    padding: 100px;
}

h1 {
    text-align: center;
}

.form-group {
    margin: 10px 0;
    text-align: center;
}

.session-form-container label {
    display: block;
}

.session-form-container [type="text"],
.session-form-container, [type="password"] {
    width: 100%;
    border-radius: 3px;
    outline: none;
}

.session-submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #007bff; /* Add your preferred button color */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.test-button {
    margin: auto;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #878787; /* Add your preferred button color */
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.test-button:hover {
    background-color: gray;
}

.session-submit-button:hover {
    background-color: #0056b3; /* Add a darker color on hover */
}

.logout-button {
    border-radius: 7px;
    font-size: 1.0em;
    color: white;
    background-color: rgb(146, 146, 146);
}
.logout-button:hover {
    background-color: rgba(187, 11, 11, 0.683);
}
//-media queries
@media screen and (max-width: 500px) {
    .session-form-container {
        height: 60vh;
    }
    .session-form {
        padding: 25px;
        font-size: 15px;
    }
}
@media screen and (max-width: 370px) {
    
    .session-submit-button {
        padding: 7px;
        font-size: 12px;
        min-width: 100px;
    }
}